bin/
obj/
.vs/
TestResults/
*.user
*.suo
*.cache
*.userosscache
*.rsuser
*.ncrunch*
.idea/
.vscode/
artifacts/
coverage/
*.coverage
*.coveragexml
/assets/animation
/assets/art
/assets/audio
/assets/font
.godot/
.import/
mono_crash.*.json
